{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create A Book Review</title>
    <link rel="stylesheet" href="{% static 'book-review.css' %}">
  </head>

  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url 'reviews_list' %}">Back to list</a>
      </nav>
    </header>
    <main>
      <div class="book-review-form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button>Submit</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div>Copyright 2022 by Matt Roth</div>
      <p>This is a website containing every book I've ever read. The only topics I like are Python and Learning Strategies, so it's just these two books.</p>
    </footer>

  </body>
</html>
