{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Make it Stick = Book Reviews</title>
  <link rel="stylesheet" href="{% static 'book-review.css' %}">
</head>

<body>
  <header>
    <div>My Book Reviews</div>
    <nav>
      <a href="{% url 'reviews_list' %}">Back to List</a>
      <a href="{% url 'create_review' %}">Create a Review</a>
    </nav>
  </header>
  <main>
    <div class="detail-page-book-review">
      <img src="{{ review.cover_image }}" alt="Book Cover" class="book-cover">
      <h2 class="book-title">
        <a href="detail.html">{{ review.title }}</a>
      </h2>
      <div class="book-rating">{{ review.rating }}</div>
      <div class="book-authors">{{ review.authors }}</div>
      <h2>Summary</h2>
        <p>
          {{ review.summary }}
        </p>
      <h2>My Review</h2>
        <p>
          {{ review.review }}
        </p>
    </div>
  </main>
  <footer>
    <div>Copyright 2022 by Matt Roth</div>
    <p>This is a website containing every book I've ever read. The only topics I like are Python and Learning Strategies, so it's just these two books.</p>
  </footer>


</body>

</html>